.project {
  display: inline-block;
  height: 250px;
  width: 100%;
  padding: 15px !important; /* Used in Main.js for calculations */
  margin: 10px;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  overflow-y: scroll;
}
@media only screen and (min-width: 800px) {
  .project {
    width: 45%;
  }
}
@media only screen and (min-width: 993px) {
  .project {
    width: 47%;
  }
}
@media only screen and (min-width: 1520px) {
  .project {
    width: 48%;
  }
}

.project-top p {
  float: left;
}
.project-top span {
  float: right;
}
.project-top span:hover {
  cursor: pointer;
}

.project-title {
  margin: 5px 0px 15px 0px !important;
  text-align: center;
}

.project-info {
  text-align: left;
}

.project-point {
  margin: 10px;
}

.project-tags {
  margin: 20px;
  text-align: center;
}
